#footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  // background-color: #51e26e;
  background-color: whitesmoke;
  border-top: 1px solid #51e26e;
  text-align: center;
  font-size: 1.1em;
  padding: 5px 0;
}
